::ng-deep .chi-image-picker .mat-dialog-container {
    padding: 0 !important;
}

.container {
    height: 100%;

    .chi-image-picker-header {
        background: #62646a; 
        border-radius: 4px;
        color: #fff;
    }

    .image-content {
        height: calc(100% - 40px);

        .images {
            padding: 10px;
            height: calc(100% - 75px);
        }
        
        .uploaded-image {
            position: relative;

            .browse-files {
                margin: 8px;
                padding: 6px;
                background-color: #ddd;
                position: relative;

                &:hover .image {
                    transform: scale(1.05,1.05);
                    filter: blur(8px);
                }

                .details {
                    z-index: 20;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 13px;
                    min-width: 100%;
                    max-width: 100%;
                    padding: 2em 1em;
                    text-align: center;
                    color: rgba(0,0,0,.9);
                    line-height: 150%;

                    .size {
                        margin-bottom: 1em;
                        font-size: 16px;
                        display: inline-block;

                        background-color: rgba(255,255,255,.4);
                        padding: 0 .4em;
                        border-radius: 3px;

                        .value {
                            font-weight: 600;
                        }
                    }

                    .file-name {
                        display: inline-block;
                        background-color: rgba(255,255,255,.4);
                        white-space: nowrap;

                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100%;
                    }
                }
            }

            .error-message {
                text-align: center;
                z-index: 1000;
                position: absolute;
                border-radius: 8px;
                font-size: 13px;
                top: 50px;
                width: 140px;
                height: 50px;
                max-height: 64px;
                overflow: hidden;
                background: #be2626;
                background: linear-gradient(to bottom,#be2626,#a92222);
                padding: .5em 1.2em;
                color: #fff;
            }
        }

        .progress-bar {
            width: 80%;
            margin-left: -40%;
            border: 1px solid #aaa;
            border-radius: 4px;

            z-index: 1000;
            pointer-events: none;
            position: absolute;
            height: 16px;
            left: 50%;
            top: 50%;
            margin-top: -8px;

            .upload {
                background-color: #666;
                background: #333;
                background: linear-gradient(to bottom,#666,#444);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 0;
                transition: width .3s ease-in-out;
            }
        }
    }

    .select-image 
    {
        height: 135px;
        width: 135px;
        border: 1px solid gray;

        .uploader-icon {
            cursor: pointer;
        }

        .stroke-button
        {
            border-color: #3496CE !important;
            padding: 2px 10px;
            line-height: 24px;
        }
    }

    .btn-close {
        cursor: pointer;
        position: absolute;
        top: 2px;
        right: 5px;
        background: black;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 21;
        border-radius: 50%;
    }

    .image {
        border-radius: 20px;
        overflow: hidden;
        width: 120px;
        height: 120px;
        position: relative;
        display: block;
        z-index: 10;
        object-fit: cover;
    }
    
    .actions {
        margin: 10px 0;
        border-top: 1px solid gray;
    }
}